@import "src/assets/styles/helpers/variables";
@import "src/assets/styles/helpers/mixin";

.navbar {
  padding: 40px 0 30px 0;
  border: 1px solid;
  border-top: 0;
  border-image-slice: 1;
  border-image-source: $main-gradient;

  @include respond-to(medium) {
    padding: 12px 0;
  }
}

.navbarRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.burger {
  width: 30px;
}

.group {
  display: flex;
  align-items: center;
  gap: 20px;
}

.pageLink {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  min-height: 49px;
  padding: 13px 25px;
  background: rgba(51, 51, 51, 1);
  border: 1px solid #434343;
  border-radius: 8px;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #fff;
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 310px;
  z-index: 100;

  @include respond-to(x-large) {
    display: none;
  }
}